<div class="" [ngClass]='{"cell-with-validation": validationNewRow}' [ngSwitch]='controlType' [formGroup]='group'>
  <div class='field'>
    <app-textbox *ngSwitchCase='controlTypeEnum.Textbox' [editMode]='editMode' [group]='group'
      [type]='type' [controlName]='controlName' [required]='required'>
    </app-textbox>

    <app-checkbox *ngSwitchCase='controlTypeEnum.Checkbox' [editMode]='editMode' [group]='group'
      [controlName]='controlName' [required]='required'>
    </app-checkbox>

    <app-dropdown *ngSwitchCase='controlTypeEnum.Dropdown' [options]='ddlOptions' [editMode]='editMode' [group]='group'
      [controlName]='controlName' [namePropName]='namePropName' [valuePropName]='valuePropName' [required]='required'>
    </app-dropdown>

    <app-yes-or-no-radio *ngSwitchCase='controlTypeEnum.YesOrNoRadio' [editMode]='editMode' [group]='group'
      [controlName]='controlName'>
    </app-yes-or-no-radio>

    <app-maincontacts *ngSwitchCase='controlTypeEnum.MainContacts' [editMode]='editMode' [group]='group'
      [controlName]='controlName'>
    </app-maincontacts>

    <app-checkbox-multi *ngSwitchCase='controlTypeEnum.CheckboxMulti' [editMode]='editMode' [options]='ddlOptions'
      [group]='group' [controlName]='controlName' [namePropName]='namePropName' [valuePropName]='valuePropName'>
    </app-checkbox-multi>

    <app-textarea *ngSwitchCase='controlTypeEnum.Textarea' [editMode]='editMode' [group]='group'
      [controlName]='controlName' [required]='required'>
    </app-textarea>

    <app-datepicker *ngSwitchCase='controlTypeEnum.Date' [editMode]='editMode'
      [showTime]='showTime' 
      [formControlName]="controlName">
    </app-datepicker>

    <app-typeahead *ngSwitchCase='controlTypeEnum.Autocomplete' [editMode]='editMode' [items]='ddlOptions' [group]='group'
      [controlName]='controlName' (onSearch)='searchItems($event)' (onSelectItem)='selectItem($event)'>
    </app-typeahead>
  </div>
  <div class='validation' *ngIf='field && editMode'>
    <app-validation [field]='field'></app-validation>
    <div class='attention-mark'>
      <app-attention-mark [field]='field' ></app-attention-mark>
    </div>
  </div>
</div>