@import 'styling/variables.scss';

.header{
    background-color: $primary-bg-color;
    color: $light-color;
    width: 100%;
    display: flex;
    height: $line-height;
    margin-bottom: $padding * 2;
    margin-left: -1px;
    justify-content: space-between;
}
.header__text{
    padding: 0  $padding;
    line-height: $line-height;
    font-size: 14px;
    font-weight: bold;
}
.header__version{
    padding: 0  $padding;
    line-height: $line-height;
}