h3 {
  margin-bottom: 6px;
  margin-top: 20px;
}

.content {
  padding-left: 5px;
  padding-right: 5px;
}

.modal-dialog-buttons {
  text-align: right;
  padding: 20px 0 0 0;
}

.modal-dialog-buttons button {
  min-width: 6em;
}
