<modal-dialog [title]="''" [show]="show" (onHide)="hide()" [styleOptions]="{'width': '463px'}">
  <div class="content">
    <form [formGroup]='blockForm' (ngSubmit)="block()">
      <app-section-header [headerText]='"Block supplier"'></app-section-header>
      <div>
        <app-two-column-row [headerText]='"Comment"' [group]='blockForm' [editMode]='true'
          [controlName]='"DisabledRemark"' [controlType]='controlTypeEnum.Textbox'>
        </app-two-column-row>
      </div>
    </form>
    <div class="modal-dialog-buttons">
      <app-button [text]='"Block"' (onClick)='block()' [disabled]="!blockForm.valid"></app-button>
      <app-button [text]='"Close"' (onClick)='hide()'></app-button>
    </div>
  </div>
</modal-dialog>
