@import 'styling/variables.scss';

button{
    height: 31px;
    color: $primary-color;
    padding: 0 $padding * 3;
    margin-right: $padding;
    margin-bottom: $padding;
    margin-top: $padding;
    margin-left: 0;
}