<ng-container *ngIf='!disabled'>
  <span (click)='click($event)' class='remove-btn'>×</span>
</ng-container>
<ng-container *ngIf='disabled'>
  <span tooltip="{{disabledTooltip}}" placement="top" show-delay="10" class='remove-btn__disabled'>×</span>
</ng-container>
