@import 'styling/variables.scss';

.remove-btn, .remove-btn__disabled {
    cursor: pointer;
    font-weight: bold;
    padding:  $padding;
    font-size: 22px;
    color: $disabled-color;
}
.remove-btn {
    color: red;
}
