
<app-crud-button-bar [editMode]='editMode' (onCancelClicked)='cancel()'
  [hideRemove]='true'
  (onSaveClicked)='save()' [formIsValid]='onetimeloginForm.valid'></app-crud-button-bar>

<app-loader-blocker [loading]='loading'>
  <form [formGroup]='onetimeloginForm' (ngSubmit)="save()">
    <div class='supplier-details'>
      <app-section-header [headerText]='"Create Onetime login user"' [showVersion]='true'></app-section-header>
      <div class="onetimelogin">
        <app-two-column-row [headerText]='"Email"' [group]='onetimeloginForm' [editMode]='editMode'
          [controlName]='"Email"' [controlType]='controlTypeEnum.Textbox'>
        </app-two-column-row>
        <app-two-column-row [headerText]='"Company Name"' [group]='onetimeloginForm' [editMode]='editMode'
          [controlName]='"CompanyName"' [controlType]='controlTypeEnum.Textbox'>
        </app-two-column-row>
      </div>
    </div>
    <div class="payment-terms">
      <app-section-header [headerText]='"Payment terms"'></app-section-header>
      <app-payment-terms [editMode]='true' [group]='onetimeloginForm' [paymentTerms]='paymentTerms'></app-payment-terms>
    </div>
  </form>
</app-loader-blocker>
<app-crud-button-bar [editMode]='editMode' (onCancelClicked)='cancel()'
  [hideRemove]='true'
  (onSaveClicked)='save()' [formIsValid]='onetimeloginForm.valid'></app-crud-button-bar>
