<div>
  <app-button [text]='"Cancel"' *ngIf='editMode' (onClick)='cancelClicked()'></app-button>
  <app-button [text]='"Save"' *ngIf='editMode' (onClick)='saveClicked()' [disabled]="!formIsValid"></app-button>
  <app-button [text]='"Edit"' *ngIf='!editMode' (onClick)='editClicked()'></app-button>

  <ng-container *ngIf='!disabledRemove'>
    <app-button [text]='"Remove"' (onClick)='removeClicked()' *ngIf='!hideRemove'></app-button>
  </ng-container>
  <ng-container *ngIf='disabledRemove'>
    <app-button [text]='"Remove"' (onClick)='removeClicked()' *ngIf='!hideRemove' [disabled]='disabledRemove'
      tooltip='{{disabledRemoveTooltip}}'></app-button>
  </ng-container>

  <app-button [text]='"Disable"' *ngIf='!editMode && !hideDisable' (onClick)='disableClicked()'></app-button>
</div>
