<app-supplier-filter (filterChanged)='filterChanged($event)' [filter]='filterParams'></app-supplier-filter>
<div class='add-entity-togrid'>
  <a routerLink="/supplier/0/edit"><span class='add-icon'></span>Create supplier</a>
</div>
<app-loader-blocker [loading]='loading'>
  <table class="fvgrid">
    <tr class="fixedHeader">
      <th>Supplier name</th>
      <th>Main contact</th>
      <th>VAT number</th>
      <th>Status</th>
    </tr>
    <tr
      *ngFor="let supplier of suppliers | paginate: { id: 'supplierlist', itemsPerPage: filterParams.PageSize, currentPage: filterParams.Page, totalItems: total }">
      <td>
        <a routerLink="/supplier/{{supplier.Id}}">
          {{ supplier.Name }}
        </a>
      </td>
      <td>
        <span *ngFor='let contact of supplier.MainContacts'>
          {{ contact.FirstName }} {{ contact.LastName }}
        </span>
      </td>
      <td>{{ supplier.VAT }} </td>
      <td>{{ supplier.Status?.Name }} </td>
    </tr>
    <tr *ngIf='suppliers.length == 0 && !loading'>
      <td colspan="4">
        There are no available suppliers
      </td>
    </tr>
  </table>
</app-loader-blocker>
<pagination-controls (pageChange)="pageChanged($event)" id="supplierlist" directionLinks="false"></pagination-controls>