@import 'styling/variables.scss';

.supplier-details {
  position: relative;
}

.blocker {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  background-color: $light-color;
}

.supplier-information{
  display: flex;
  margin-bottom: $padding * 4;
}
.payment-terms, .visiting-address__toggle {
  margin-bottom: $padding * 4;
}
.netdays-cell{
  width: 60px;;
}
.cashdiscount-cell{
  width: 120px;
}