<app-supplier-button-bar [editMode]='editMode' [isTrading]='isTrading' [isSupplierBlocked]='isSupplierBlocked'
  [formIsValid]='supplierForm.valid' (onEditClicked)='goToEdit()' (onCancelClicked)='goToView()'
  (onSaveClicked)='save()' (onBlockClicked)='showBlockModal()' (onUnblockClicked)='unblock()'></app-supplier-button-bar>
<app-loader-blocker [loading]='loading'>
  <form [formGroup]='supplierForm' (ngSubmit)="save()">
    <div class='supplier-details'>
      <app-section-header [headerText]='"Supplier Information"' [showVersion]='true'></app-section-header>
      <div class="supplier-information">
        <div>
          <app-two-column-row *ngIf='isTrading' [headerText]='"Supplier ID"' [group]='supplierForm' [editMode]='false'
            [controlName]='"Id"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row *ngIf='isTrading' [headerText]='"Status"' [group]='supplierForm' [editMode]='false'
            [controlName]='"Status"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Company name"' [group]='supplierForm' [editMode]='editMode && isTrading'
            [controlName]='"Name"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"GLN Number"' [group]='supplierForm' [editMode]='editMode'
            [controlName]='"GlnNumber"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"VAT Number"' [group]='supplierForm' [editMode]='editMode && vatNumberEditable'
            [controlName]='"VAT"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Home Page"' [group]='supplierForm' [editMode]='editMode'
            [controlName]='"Url"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Main contact"' [group]='supplierForm' [editMode]='false'
            [controlName]='"MainContacts"' [controlType]='controlTypeEnum.MainContacts'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Electronic Data Interchange"' [required]='true' [group]='supplierForm'
            [editMode]='editMode' [controlName]='"CanSendEdiMessageBol"' [controlType]='controlTypeEnum.YesOrNoRadio'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Is agent"' [required]='true' [group]='supplierForm' *ngIf='isTrading'
            [editMode]='editMode' [controlName]='"IsAgent"' [controlType]='controlTypeEnum.YesOrNoRadio'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Is packaging material supplier"' [required]='true' [group]='supplierForm'
            *ngIf='isTrading' [tooltipText]='isPackagingMaterialSupplierText' [editMode]='editMode'
            [controlName]='"IsPackagingMaterialsSupplier"' [controlType]='controlTypeEnum.YesOrNoRadio'>
          </app-two-column-row>
        </div>

        <div>
          <app-two-column-row [headerText]='"Address"' [required]='true' [group]='primaryPostalAddress'
            [editMode]='editMode' [controlName]='"AddressLine1Text"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"ZipCode"' [group]='primaryPostalAddress' [editMode]='editMode'
            [controlName]='"ZipCodeTerm"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"City"' [group]='primaryPostalAddress' [editMode]='editMode'
            [controlName]='"CityName"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Country"' [required]='true' [group]='primaryPostalAddress'
            [ddlOptions]='countries' [namePropName]='"Name"' [valuePropName]='"IsoCode"' [editMode]='editMode'
            [controlName]='"CountryIsoCode"' [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Phone"' [group]='primaryPostalAddress' [editMode]='editMode'
            [controlName]='"PhoneNumberText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Fax"' [group]='primaryPostalAddress' [editMode]='editMode'
            [controlName]='"FaxNumberText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"24h emergency number"' [required]='true' [group]='primaryPostalAddress'
            [tooltipText]='emergencyNumberText' [editMode]='editMode' [controlName]='"EmergencyNumberText"'
            [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Is active Fruits & Vegetables supplier"' [required]='true'
            [group]='supplierForm' *ngIf='isTrading' [editMode]='editMode' [controlName]='"IsActiveFaV"'
            [controlType]='controlTypeEnum.YesOrNoRadio'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Is active Indirect Goods & Services supplier"' [required]='true'
            [group]='supplierForm' *ngIf='isTrading' [editMode]='editMode' [controlName]='"IsIndirectGaS"'
            [controlType]='controlTypeEnum.YesOrNoRadio'>
          </app-two-column-row>
        </div>
      </div>

      <div *ngIf="editMode" class='visiting-address__toggle'>
        <app-button [text]='"Add visiting address"' *ngIf='!showVisitingAddress'
          (onClick)='addVisitingAddressClicked()'>
        </app-button>
        <app-button [text]='"Remove visiting address"' *ngIf='showVisitingAddress'
          (onClick)='removeVisitingAddressClicked()'></app-button>
      </div>

      <div *ngIf="showVisitingAddress">
        <app-section-header [headerText]='"Visiting address"' [showVersion]='false'></app-section-header>
        <div class="supplier-information">
          <div>
            <app-two-column-row [headerText]='"Address"' [group]='primaryVisitingAddress' [editMode]='editMode'
              [controlName]='"AddressLine1Text"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"PostBox"' [group]='primaryVisitingAddress' [editMode]='editMode'
              [controlName]='"PostBoxTerm"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"ZipCode"' [group]='primaryVisitingAddress' [editMode]='editMode'
              [controlName]='"ZipCodeTerm"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"City"' [group]='primaryVisitingAddress' [editMode]='editMode'
              [controlName]='"CityName"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"Country"' [group]='primaryVisitingAddress' [ddlOptions]='countries'
              [namePropName]='"Name"' [valuePropName]='"IsoCode"' [editMode]='editMode' [controlName]='"CountryIsoCode"'
              [controlType]='controlTypeEnum.Dropdown'>
            </app-two-column-row>
          </div>
          <div>
            <app-two-column-row [headerText]='"Phone"' [group]='primaryVisitingAddress' [editMode]='editMode'
              [controlName]='"PhoneNumberText"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"Mobile number"' [group]='primaryVisitingAddress' [editMode]='editMode'
              [controlName]='"MobileNumberText"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"Fax"' [group]='primaryVisitingAddress' [editMode]='editMode'
              [controlName]='"FaxNumberText"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"Last modified date"' [group]='primaryVisitingAddress' [editMode]='false'
              [controlName]='"ModifiedDate"' [controlType]='controlTypeEnum.Date'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"Last modified by"' [group]='primaryVisitingAddress' [editMode]='false'
              [controlName]='"ModifiedByText"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"Created date"' [group]='primaryVisitingAddress' [editMode]='false'
              [controlName]='"CreatedDate"' [controlType]='controlTypeEnum.Date'>
            </app-two-column-row>
            <app-two-column-row [headerText]='"Created by"' [group]='primaryVisitingAddress' [editMode]='false'
              [controlName]='"CreatedByText"' [controlType]='controlTypeEnum.Textbox'>
            </app-two-column-row>
          </div>
        </div>
      </div>

      <div class="payment-terms">
        <app-section-header [headerText]='"Payment terms"'></app-section-header>
        <app-payment-terms [editMode]='editMode && isTrading' [group]='supplierForm' [paymentTerms]='paymentTerms'>
        </app-payment-terms>
      </div>
    </div>
  </form>
</app-loader-blocker>
<app-supplier-button-bar [editMode]='editMode' [isTrading]='isTrading' [isSupplierBlocked]='isSupplierBlocked'
  [formIsValid]='supplierForm.valid' (onEditClicked)='goToEdit()' (onCancelClicked)='goToView()'
  (onSaveClicked)='save()' (onBlockClicked)='showBlockModal()' (onUnblockClicked)='unblock()'></app-supplier-button-bar>

<block-modal-dialog [show]="isBlockModalDialogVisible" (onHide)='hideBlockModal()' (onBlock)='getSupplier()'>
</block-modal-dialog>
