@import 'styling/variables.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'styling/typeahead.scss';
.primary-bg {
  background-color: $primary-bg-color;
}

.light-bg {
  background-color: $light-bg-color;
}

.primary-color {
  color: $primary-color;
}

.light-color {
  color: $light-color;
}

.light-border-color {
  border-color: $light-border-color;
}


.app-container {
  /* color: #444; */
  font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: $primary-color;
}

.app-container {
  // width: 1060px;
  width: 1260px;
  display: flex;
}

.app-left-content {
  // width: 803px;
  width: 903px;
  vertical-align: top;
  padding-right: $padding * 3;
}

.app-right-menu {
  width: 236px;
  vertical-align: top;
}

.text-centered {
  text-align: center;
}

table,
.table-bordered {
  border-collapse: collapse;
}

.fvgrid {
  width: 100%;
}

.fvgrid td {
  min-height: 20px;
  padding: $padding;
  border: 1px solid $light-border-color;
}

.fvgrid tr {
  border-bottom: 1px solid $light-border-color;
}

.fixedHeader {
  position: relative;
  width: 100%;
  background-color: $primary-bg-color;
  color: $light-color;
  text-align: left;
}

.fixedHeader th {
  padding: $padding;
}

.ftable,
.min-table {
  border: 1px solid $light-border-color;
  position: relative;
  table-layout: fixed;
}

.ftable {
  width: 100%;
}

.ftable td,
.min-table td {
  border: 1px solid $light-border-color;
  padding: $padding;
  // min-height: 20px;
  // min-width: 100px;
}

.ftable td {
  padding: $padding;
}

.ftable th,
.min-table th {
  text-align: left;
  border: 1px solid $light-border-color;
  padding: $padding;
  background-color: $light-bg-color;
}

.ftable th.title,
.min-table th.title {
  text-align: left;
  background-color: $primary-bg-color;
  color: $light-color;
}

.ftable th,
.ftable th.title {
  min-width: 250px;
  max-width: 250px;
}

.loadergif {
  width: $line-height * 2;
  margin: 300px auto;
  display: block;
  background-image: url("/assets/Ripple-1.1s-200px.gif");
  background-repeat: no-repeat;
  background-size: $line-height * 2;
  height: $line-height * 2;
}


.ngx-pagination {
  padding-left: 0px;
}

.ngx-pagination .current {
  background-color: $primary-bg-color !important;
}

/* filter table */

.filter-table {
  text-align: left;
  width: 100%;
  margin-bottom: $padding * 4;
}

.filter-table th,
.filter-table td {
  padding: $padding;
}

.filter-header {
  background-color: $light-bg-color;
}

.filter-row {
  border-bottom: 1px solid $light-border-color;
}

.tr {
  border-bottom: 1px solid $light-border-color;
}

/* filter table */

.mydp .selbtngroup,
.mydp input.selection {
  height: $field-height - 2 !important;
}
.mydp button {
  min-width: 0;
}

.add-icon {
  display: inline-block;
  background-image: url("/assets/plus.png");
  background-repeat: no-repeat;

  width: 16px;
  background-repeat: no-repeat;
  background-size: 10px;
  height: 10px;
}

.add-entity-togrid {
  padding-bottom: $padding * 2;
}

.container .mydp {
  border-radius: 0px;
}

.relative {
  position: relative;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.85;
}

.td-center {
  text-align: center;
  vertical-align: middle;
}
.comingsoon{
  background-image: url("/assets/comingsoon.png"); 
  width: 340px;
  height: 335px;
  margin: 50px auto;
}

.readonly-field-value {
  padding: $padding 0px ;
}
.flex-justify{
  display: flex;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}