<div>
  <app-button [text]='"Cancel"' *ngIf='editMode' (onClick)='cancelClicked()'></app-button>
  <app-button [text]='"Save"' *ngIf='editMode' (onClick)='saveClicked()' [disabled]="!formIsValid"></app-button>
  <app-button [text]='"Edit"' *ngIf='!editMode' (onClick)='editClicked()'></app-button>
  <app-button [text]='"Block"' *ngIf='!editMode && isTrading && !isSupplierBlocked' (onClick)='blockClicked()'></app-button>
  <app-button [text]='"Unblock"' *ngIf='!editMode && isTrading && isSupplierBlocked' (onClick)='unblockClicked()'></app-button>
</div>
