<div class="error-page__container">
  <div class="error-page__text-item">Access denied</div>

  <div class="error-page__text-item">Or </div>

  <div class="error-page__text-item">Page not found</div>
  <div class="error-page__text-item"><a routerLink="/" (click)='goBack()'>To main page</a> </div>
</div>