@import 'styling/variables.scss';

.error-page__container {
   
    margin: 0 200px;
    font-size: 22px;
    text-align: center;
    padding: 20px;
    line-height: 50px;
}
.error-page__text-item {
    // background-color: #006680;
    color: $primary-bg-color;
}