<ng-container *ngIf="editMode">
  <div [formGroup]='group'>
    <ng-select [items]="items"
      #select
      bindLabel="label"
      dropdownPosition="auto"
      bindValue="value"
      (search)='searchItems($event)'
      (open)='searchItems({term:""})'
      (change)='changeValue($event)'
      [multiple]='multiple'
      [virtualScroll]="true"
      [formControlName]="controlName">
    </ng-select>
  </div>
</ng-container>
<ng-container *ngIf="!editMode">
  <div class="readonly-field-value" >
    {{ currentReadonlyValue }}
  </div>
</ng-container>