<div class='sign-message'>
  <div *ngIf='countOfSelectedDocuments == 0' class='please-select'>
    Please select documents to sign
  </div>
  <div *ngIf='countOfSelectedDocuments > 0' class='you-selected'>
    You selected {{ countOfSelectedDocuments }} document{{countOfSelectedDocuments !== 1 ? "s": ""}}
  </div>
</div>
<div class='sign-button'>
  <app-button [text]='"Sign"' [disabled]='countOfSelectedDocuments == 0' (onClick)='signDocuments()'></app-button>
</div>