<app-contactperson-filter (filterChanged)='filterChanged($event)' [filter]='filterParams'></app-contactperson-filter>
<div class='add-entity-togrid'>
  <a routerLink="/supplier/{{supplierId}}/contactperson/0/edit"><span class='add-icon'></span>Create contact person</a>
</div>
<app-loader-blocker [loading]='loading'>
  <table class="fvgrid">
    <tr class="fixedHeader">
      <th>Name (click to edit)</th>
      <th>Person type</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Login</th>
      <th>Disabled</th>
    </tr>
    <ng-container *ngIf='items.length > 0'>
      <tr
        *ngFor="let item of items | paginate: { id: 'contactpersonlist', itemsPerPage: filterParams.PageSize, currentPage: filterParams.Page, totalItems: total }">
        <td>
          <a routerLink="{{item.Id}}">
            {{ item.PersonSalutationId ? getPersonSalutationText(item.PersonSalutationId) + ' ' : '' }}
            {{ item.FirstName }}
            {{ item.LastName }}
            <ng-container *ngIf='!item.FirstName && !item.LastName '>
              unnamed
            </ng-container>
          </a>
        </td>
        <td>
          <span *ngFor="let personType of item.PersonTypes; let isLast=last">
            <span *ngIf="personType">{{ personType.Name }}</span><br *ngIf="!isLast" />
            <span *ngIf="!personType"></span>
          </span>
        </td>
        <td>{{ item.Email }} </td>
        <td>{{ item.PhoneNumberText }} </td>
        <td>{{ item.LoginName }} </td>
        <td class="td-center">{{ item.IsDisabled ? '&#x2714;' : '' }}</td>
      </tr>
    </ng-container>
    <ng-container *ngIf='items.length == 0'>
      <tr *ngIf='!loading'>
        <td colspan="6">
          There are no available contact persons
        </td>
      </tr>
    </ng-container>
  </table>
</app-loader-blocker>
<pagination-controls (pageChange)="pageChanged($event)" id="contactpersonlist" directionLinks="false"></pagination-controls>
