<app-pendingsite-filter  (filterChanged)='filterChanged($event)' [filter]='filterParams'></app-pendingsite-filter>
<app-loader-blocker [loading]='loading'>
  <table class="fvgrid">
    <tr class="fixedHeader">
      <th>Site name</th>
      <th>Supplier name</th>
      <th>Supplier main contact person</th>
      <th>Site address</th>

    </tr>
    <ng-container *ngIf='items.length > 0'>
      <tr *ngFor="let item of items | paginate: { id: 'pendingsitelist', itemsPerPage: filterParams.PageSize, currentPage: filterParams.Page, totalItems: total }">
        <td>
          <a routerLink="/supplier/{{item.Supplier.Id}}/site/{{item.Id}}"> 
          {{ item.Name || 'unnamed' }}
          </a>
        </td>
        <td>{{ item.Supplier.Name }} </td>
        <td>
          <span *ngFor='let contact of item.Supplier.MainContacts'>
            {{ contact.FirstName }} {{ contact.LastName }} 
          </span>
        </td>
        <td>{{ item.AddressLine1Text }} </td>
      </tr>
    </ng-container>
    <ng-container *ngIf='items.length == 0'>
      <tr *ngIf='!loading'>
        <td colspan="5"> 
          There are no available suppliers 
        </td>
      </tr>
    </ng-container>
  </table>
</app-loader-blocker>
<pagination-controls (pageChange)="pageChanged($event)" id="pendingsitelist" directionLinks="false"></pagination-controls>