<app-site-filter (filterChanged)='filterChanged($event)' [filter]='filterParams'></app-site-filter>

<div class='add-entity-togrid'>
  <a routerLink="/supplier/{{supplierId}}/site/0/edit"><span class='add-icon'></span>Create supplier site</a>
</div>
<app-loader-blocker [loading]='loading'>
  <table class="fvgrid">
    <tr class="fixedHeader">
      <th>Name</th>
      <th>Country</th>
      <th>Types</th>
      <th>Status</th>
      <th *ngIf="isTrading">Delete</th>
    </tr>
    <ng-container *ngIf='sites.length > 0'>
      <tr
        *ngFor="let site of sites | paginate: { id: 'siteslist', itemsPerPage: filterParams.PageSize, currentPage: filterParams.Page, totalItems: total }">
        <td>
          <div class='flex-justify align-center'>
            <a routerLink="/supplier/{{supplierId}}/site/{{site.Id}}">
              <ng-container *ngIf="site.Name">{{site.Name}}<br></ng-container>
              <ng-container *ngIf="site.AddressLine1Text">{{site.AddressLine1Text}}<br></ng-container>
              <ng-container *ngIf="site.AddressLine2Text">{{site.AddressLine2Text}}<br></ng-container>
              <ng-container *ngIf="site.AddressLine3Text">{{site.AddressLine3Text}}<br></ng-container>
              <ng-container *ngIf="site.PostBoxTerm">{{site.PostBoxTerm}}<br></ng-container>
              <ng-container *ngIf="site.ZipCodeTerm">{{site.ZipCodeTerm}} </ng-container>
              <ng-container *ngIf="site.CityName">{{site.CityName}}</ng-container>
              <ng-container *ngIf="site.CountryName">{{site.CountryName}}</ng-container>
            </a>
            <app-attention-mark *ngIf='site.ZipCodeTerm ? false : true' [tooltipText]='messageFillZipCode'></app-attention-mark>
          </div>
        </td>
        <td>{{site.CountryName}}</td>
        <td>
          <span *ngFor="let addressType of site.AddressTypes; let isLast=last">
            <span *ngIf="addressType">{{addressType.Name}}{{isLast ? '' : ', '}}</span>
            <span *ngIf="!addressType"></span>
          </span>
        </td>
        <td>
          {{getStatusText(site.AddressStatusId)}}
        </td>
        <td *ngIf="isTrading" class='action-column'>
          <app-remove-row-btn (onClick)='remove(site.Id)' [disabled]='site.IsUsedInPpl || site.IsUsedInSpecifications'
            [disabledTooltip]='removeTooltipText'></app-remove-row-btn>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf='sites.length === 0'>
      <tr *ngIf='!loading'>
        <td [attr.colspan]='isTrading ? 5 : 4'>
          There are no available sites
        </td>
      </tr>
    </ng-container>
  </table>
</app-loader-blocker>
<pagination-controls (pageChange)="pageChanged($event)" id="siteslist" directionLinks="false"></pagination-controls>