<div class='add-entity-togrid'>
  <a routerLink="/supplier/{{supplierId}}/defect/0/edit"><span class='add-icon'></span>Create supplier defect</a>
</div>
<app-loader-blocker [loading]='loading'>
  <table class="fvgrid">
    <tr class="fixedHeader">
      <th>Name</th>
      <th>Reported by</th>
      <th>Date</th>
      <th>Received from</th>
      <th>Created by</th>
    </tr>
    <ng-container *ngIf='items.length > 0'>
      <tr *ngFor="let item of items | paginate: { id: 'defectlist', itemsPerPage: filterParams.PageSize, currentPage: filterParams.Page, totalItems: total }">
        <td>
          <a routerLink="{{item.Id}}"> 
          {{ item.CaseNumber }} 
          </a>
        </td>
        <td>
          {{ item.ReportedSourceName }}
        </td>
        <td>
          <app-datepicker [(ngModel)]='item.ReportDate '></app-datepicker>
        </td>
        <td>
          {{ item.DefectReceivedSourceName }}
        </td>
        <td>
          {{ item.CreatedByText }}
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf='items.length == 0'>
      <tr *ngIf='!loading'>
        <td colspan="5"> 
          There are no available defects 
        </td>
      </tr>
    </ng-container>
  </table>
</app-loader-blocker>
<pagination-controls (pageChange)="pageChanged($event)" id="defectlist" directionLinks="false"></pagination-controls>