@import 'styling/variables.scss';

.defect-information{
    display: flex;
    margin-bottom: $padding * 4;
}
.date-cell{
    width: 105px;
}
.lotno-cell{
    width: 60px;
}
.gtin-cell{
    width: 110px;
}
.remove-product{
    cursor: pointer;
    color: red;
    font-weight: bold;
    padding:  $padding;
}
.products {
    margin-bottom: $padding * 4;
}