<div class='defect-details' [formGroup]='defectForm'>
  <app-crud-button-bar [editMode]='editMode' hideRemove='true' (onEditClicked)='goToEdit()'
    (onCancelClicked)='goToView()' (onSaveClicked)='save()' [formIsValid]='defectForm.valid'></app-crud-button-bar>
  <app-loader-blocker [loading]='loading'>
    <form [formGroup]='defectForm' (ngSubmit)="save()">
      <app-section-header [headerText]='"Defect Information"' [showVersion]='true'></app-section-header>
      <div class="defect-information">
        <div>
          <app-two-column-row [headerText]='"Reported by"' [group]='defectForm' [required]='true'
            [ddlOptions]='defectReportedSources' [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode'
            [controlName]='"ReportedSource"' [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Date"' [group]='defectForm' [editMode]='editMode'
            [controlName]='"ReportDate"' [controlType]='controlTypeEnum.Date'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Received from"' [group]='defectForm' [ddlOptions]='defectReceivedSources'
            [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode' [controlName]='"DefectReceivedSource"'
            [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Created by"' [group]='defectForm' [editMode]='false'
            [controlName]='"CreatedByText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
        </div>
        <div>
          <app-two-column-row [headerText]='"Category of defect"' [group]='defectForm' [ddlOptions]='defectCategories'
            [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode' [controlName]='"DefectCategory"'
            [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Action"' [group]='defectForm' [ddlOptions]='defectFollowUps'
            [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode' [controlName]='"DefectFollowUp"'
            [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Closing Remark"' [group]='defectForm' [ddlOptions]='defectClosingRemarks'
            [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode' [controlName]='"DefectClosingRemark"'
            [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
        </div>
      </div>
      <div class="products">
        <app-section-header [headerText]='"Products"'></app-section-header>
        <table class="fvgrid" formArrayName="SupplierDefectProducts">
          <tr class="fixedHeader">
            <th>GTIN</th>
            <th>Product text</th>
            <th>Brand</th>
            <th>Sold in</th>
            <th>Category group</th>
            <th>Lot. No.</th>
            <th>Packaging date</th>
            <th>Best before</th>
            <th>DK</th>
            <th>NO</th>
            <th>SE</th>
            <th>FI</th>
            <th *ngIf='editMode'></th>
          </tr>
          <tr *ngFor="let product of products?.controls; let i=index" [formGroupName]="i">
            <td class="gtin-cell">
              <app-cell [editMode]='editMode' [group]='product' [controlName]='"Gtin"' 
                [controlType]='controlTypeEnum.Autocomplete'
                [ddlOptions]="gtinsForSelect"
                [validationNewRow]='true'
                (onSearch)="onSearchGtin($event)" (onSelectItem)="onGtinSelect($event, product)"></app-cell>
            </td>
            <td>
              <app-textbox [editMode]='false' [group]='product' [controlName]='"ProductText"'></app-textbox>
            </td>
            <td>
              <app-textbox [editMode]='false' [group]='product' [controlName]='"Brand"'></app-textbox>
            </td>
            <td>
              <app-textbox [editMode]='false' [group]='product' [controlName]='"MarketNames"'></app-textbox>
            </td>
            <td>
              <app-textbox [editMode]='false' [group]='product' [controlName]='"CategoryName"'></app-textbox>
            </td>
            <td class="lotno-cell">
              <app-textbox [editMode]='editMode' [group]='product' [controlName]='"LotNo"'></app-textbox>
            </td>
            <td class="date-cell">
              <app-datepicker [editMode]='editMode' [formControlName]="'PackagingDate'"></app-datepicker>
            </td>
            <td class="date-cell">
              <app-datepicker [editMode]='editMode' [formControlName]="'BestBefore'"></app-datepicker>
            </td>
            <td>
              <app-checkbox [group]='product' [controlName]='"isDk"' [editMode]='editMode'></app-checkbox>
            </td>
            <td>
              <app-checkbox [group]='product' [controlName]='"isNo"' [editMode]='editMode'></app-checkbox>
            </td>
            <td>
              <app-checkbox [group]='product' [controlName]='"isSe"' [editMode]='editMode'></app-checkbox>
            </td>
            <td>
              <app-checkbox [group]='product' [controlName]='"isFi"' [editMode]='editMode'></app-checkbox>
            </td>
            <td *ngIf='editMode'>
              <app-remove-row-btn (onClick)='removeProduct(i)' *ngIf='editMode'></app-remove-row-btn>
            </td>
          </tr>
          <tr *ngIf="products?.controls == 0">
            <td [attr.colspan]="editMode ? 13 : 12 ">
              No products added
            </td>
          </tr>
        </table>
        <app-button [text]='"Add"' (onClick)='addProductLine()' *ngIf='editMode'></app-button>
      </div>
      <div class="additional-information">
        <app-two-column-row [headerText]='"Short term actions"' [group]='defectForm' [wide]='true' [editMode]='editMode'
          [controlName]='"ShortTermActions"' [controlType]='controlTypeEnum.Textarea'>
        </app-two-column-row>
        <app-two-column-row [headerText]='"The Cause (non-compliance)"' [group]='defectForm' [wide]='true'
          [editMode]='editMode' [controlName]='"Comments"' [controlType]='controlTypeEnum.Textarea'>
        </app-two-column-row>
        <app-two-column-row [headerText]='"Reference (Archive)"' [group]='defectForm' [wide]='true'
          [editMode]='editMode' [controlName]='"ReferenceArchive"' [controlType]='controlTypeEnum.Textarea'>
        </app-two-column-row>
      </div>
    </form>
  </app-loader-blocker>
  <app-crud-button-bar [editMode]='editMode' hideRemove='true' (onEditClicked)='goToEdit()'
    (onCancelClicked)='goToView()' (onSaveClicked)='save()' [formIsValid]='defectForm.valid'></app-crud-button-bar>
</div>
