<table class="filter-table">
  <thead>
    <tr class="filter-header">
      <th>
        Show only contact persons with a Login-Id
      </th>
      <th>
        Show only active contact persons
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="filter-row">
      <td>
        <label>
          <input type='checkbox' (change)='onChange()' [(ngModel)]='filter.ShowPersonsWithLoginId'> Yes
        </label>
      </td>
      <td>
        <label>
          <input type='checkbox' (change)='onChange()' [(ngModel)]='filter.ShowActive'> Yes
        </label>
      </td>
      <td>
        Results per page
        <select (change)='onChange()' [(ngModel)]='filter.PageSize'>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>