<span *ngIf="field && field?.invalid" class="alert-danger">
  <span *ngIf="field.errors.required">
    <div class="icon-attention" tooltip='{{defaultText || tooltipText}}' [display]='(defaultText || tooltipText)?true:false'></div>
  </span>
</span>
<div *ngIf="!field" class="icon-attention" tooltip='{{tooltipText}}' [display]='tooltipText?true:false'></div>