@import 'styling/variables.scss';

.icon-attention {
  background-image: url("/assets/warning_32_32.png"); 
  width: 20px;
  height: 20px;
  background-size: 20px;
  margin: $padding $padding 0px $padding;
}