@import 'styling/variables.scss';
div{
    line-height: normal;
}
textarea {
    box-sizing: border-box;
    padding: 0px $padding;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 60px;
    line-height: 20px;
}