<ng-container *ngIf="editMode">
<div [formGroup]='group'>
  <textarea [required]='required' [formControlName]="controlName"></textarea>
</div>
</ng-container>
<ng-container *ngIf="!editMode">
  <div class="readonly-field-value">
    {{ getFieldValue() }}
  </div>
</ng-container>