<ng-container *ngIf="editMode">
  <div [formGroup]='fieldForm'>
    <div *ngFor="let option of options; let i = index" formArrayName='field' class="checkbox__item">
      <label>
        <input type="checkbox" [formControlName]='i'/>
        {{ option.Name }}
      </label>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!editMode">
  <div class="readonly-field-value" *ngFor="let option of readOnlySelectedItems">
    {{ option.Name }}
  </div>
</ng-container>
