<div>
  <app-button [text]='"Cancel"' *ngIf='editMode && !hideCancel' (onClick)='cancelClicked()'></app-button>
  <app-button [text]='"Save"' *ngIf='editMode && !hideSave' (onClick)='saveClicked()' [disabled]="!formIsValid"></app-button>
  <app-button [text]='"Edit"' *ngIf='!editMode && !hideEdit' (onClick)='editClicked()'></app-button>
  
  <ng-container *ngIf='!disabledRemove'>
    <app-button [text]='"Remove"' (onClick)='removeClicked()' 
      *ngIf='!hideRemove' 
      ></app-button>
  </ng-container>
  <ng-container *ngIf='disabledRemove'>
    <app-button [text]='"Remove"' (onClick)='removeClicked()' 
      *ngIf='!hideRemove' 
      [disabled]='disabledRemove'
      tooltip='{{disabledRemoveTooltip}}'
      ></app-button>
  </ng-container>
</div>