<table class="filter-table testmodealert" *ngIf="visible" [formGroup]='filterForm'>
  <thead>
    <tr class="filter-header">
      <th></th>
      <th>Role</th>
      <th>Supplier</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="filter-row">
      <td class="column__filter_item_text">
        Current Role is: {{getCurrentUserRole()}}
      </td>
      <td class="column__filter_item">
        <app-dropdown [options]='roles' [editMode]='true' [group]='filterForm' [controlName]='"Role"'
          [namePropName]='"Name"' [valuePropName]='"Id"'></app-dropdown>
      </td>
      <td class="column__filter_item">
        <app-typeahead [group]='filterForm' [controlName]='"Supplier"' [editMode]='true' (onSearch)="onSearchSupplier($event)"
          [items]="suppliers">
        </app-typeahead>
      </td>
      <td class="column__button">
        <app-button [text]='"Apply"' (onClick)='setEmulatedUser()' [disabled]="!isSetUserButtionEnabled"></app-button>
      </td>
    </tr>
  </tbody>
</table>
