@import 'styling/variables.scss';

.testmodealert {
    border: 2px dashed $primary-bg-color;
}
.column__filter_item_text{

}
.column__filter_item{
    width: 245px;
}
.column__button{
    width: 100px;
    text-align: right;
    padding-right: 0px;
}
