<!--The content below is only a placeholder and can be replaced.-->
<div class='app-container'>
  <div class='app-left-content'>
    <test-mode-configuration></test-mode-configuration>
    <app-message></app-message>
    <router-outlet></router-outlet>
  </div>
  <div class='app-right-menu'>
    <app-navigation></app-navigation>
  </div>
</div>
