<ng-container *ngIf="editMode">
  <div [formGroup]='group'>
    <input type="checkbox" class='inputContent' [required]='required' [formControlName]="controlName">
  </div>
</ng-container>
<ng-container *ngIf="!editMode">
    {{ getFieldValue() ? '&#x2714;' : '' }}
</ng-container>
