<app-crud-button-bar [editMode]='editMode' [hideRemove]='thisPersonIsCurrentUser'
  [formIsValid]='contactPersonForm.valid' (onEditClicked)='goToEdit()' (onCancelClicked)='goToView()'
  (onSaveClicked)='save()' (onRemoveClicked)='remove()'></app-crud-button-bar>
<app-loader-blocker [loading]='loading'>
  <form [formGroup]='contactPersonForm' (ngSubmit)="save()">
    <div class='contact-person-details'>
      <app-section-header [headerText]='"Contact person details"' [showVersion]='true'></app-section-header>
      <div class="contact-person-information">
        <div>
          <app-two-column-row [headerText]='"Person salutation"' [group]='contactPersonForm'
            [ddlOptions]='personSalutations' [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode'
            [controlName]='"PersonSalutationId"' [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Title"' [group]='contactPersonForm' [editMode]='editMode'
            [controlName]='"TitleName"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"First name"' [group]='contactPersonForm' [editMode]='editMode'
            [controlName]='"FirstName"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Last name"' [group]='contactPersonForm' [editMode]='editMode'
            [controlName]='"LastName"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Phone number"' [group]='contactPersonForm' [editMode]='editMode'
            [controlName]='"PhoneNumberText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Mobile number"' [group]='contactPersonForm' [editMode]='editMode'
            [controlName]='"MobileNumberText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Fax number"' [group]='contactPersonForm' [editMode]='editMode'
            [controlName]='"FaxNumberText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Email"' [group]='contactPersonForm' [editMode]='editMode'
            [controlName]='"Email"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Language"' [group]='contactPersonForm' [ddlOptions]='languages'
            [namePropName]='"Name"' [valuePropName]='"IsoCode"' [editMode]='editMode'
            [controlName]='"PrimaryLanguageCode"' [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Last modified"' [group]='contactPersonForm' [editMode]='false'
            [controlName]='"ModifiedDate"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Last modified by"' [group]='contactPersonForm' [editMode]='false'
            [controlName]='"ModifiedByText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Contact has login"' [required]='true' [group]='contactPersonForm'
            [editMode]='canChangeContactHasLogin' [controlName]='"ContactHasLogin"'
            [controlType]='controlTypeEnum.YesOrNoRadio'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Login name"' [group]='contactPersonForm' [editMode]='false'
            [controlName]='"LoginName"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Disabled"' [group]='contactPersonForm'
            [editMode]='editMode && isTradingUser' [controlName]='"IsDisabled"'
            [controlType]='controlTypeEnum.Checkbox'>
          </app-two-column-row>
        </div>
        <div>
          <app-two-column-row [headerText]='"Person types"' [group]='contactPersonForm' [controlName]='"PersonTypeIds"'
            [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode' [ddlOptions]='allPersonTypes'
            [tooltipText]='personTypeText' [controlType]='controlTypeEnum.CheckboxMulti'>
          </app-two-column-row>
        </div>
      </div>
    </div>
  </form>
</app-loader-blocker>
<app-crud-button-bar [editMode]='editMode' [hideRemove]='thisPersonIsCurrentUser'
  [formIsValid]='contactPersonForm.valid' (onEditClicked)='goToEdit()' (onCancelClicked)='goToView()'
  (onSaveClicked)='save()' (onRemoveClicked)='remove()'></app-crud-button-bar>
