@import 'styling/variables.scss';

.contact-person-details {
  position: relative;
}

.blocker {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  background-color: $light-color;
}

.contact-person-information {
  display: flex;
  margin-bottom: $padding * 4;
}
