<ng-container *ngIf="editMode">
  <div class='yesOrNoRadio' [formGroup]='group'>
    <div class='yesOrNoRadio_yes'>
      <label>
        <input type="radio" name='{{controlName}}' [value]='true' [formControlName]="controlName"/>
        Yes
      </label>
    </div>
    <div class='yesOrNoRadio_no'>
      <label>
        <input type="radio" name='{{controlName}}' [value]='false' [formControlName]="controlName"/>
        No
      </label>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!editMode">
  <ng-container *ngIf='getFieldValue() != null'>
    <div class="readonly-field-value" >
      {{ getFieldValue() ? "Yes" : "No" }}
    </div>
  </ng-container>
</ng-container>