.yesOrNoRadio{
    display: flex;
}
.yesOrNoRadio_yes, .yesOrNoRadio_no{
    width: 50%;
}
.yesOrNoRadio_yes{

}
.yesOrNoRadio_no{

}
label{
    display: block;
    width: 100%;
    cursor: pointer;
}