<!-- for inline errors -->
<!-- <span *ngIf="showSimpleRequiredSign && field.invalid" class="alert-danger">
  <span *ngIf="field.errors.required" title="This field is required">
    *
  </span>
</span> -->

<!-- for new line errors -->
<div *ngIf="field.invalid" class="alert-danger">
  <span *ngIf="field.errors.minlength">
    Name must be at least 4 characters long.
  </span>
  <span *ngIf="field.errors.email">
    Email is not correct.
  </span>
  <span *ngIf="field.errors?.numeric">
    Field must be numeric.
  </span>
  <span *ngIf="field.errors?.serverError">
    {{field.errors?.serverError}}
  </span>
  <span *ngIf="field.errors?.vat">
    VAT number should start with two letters.
  </span>
</div>
<!-- && (field.dirty || field.touched) -->