<div [formGroup]='group' >
  <table class="min-table" formArrayName="PaymentTerms">
    <thead>
      <tr>
        <th></th>
        <th>Net days</th>
        <th>Cash discount (%)</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let pt of paymentTerms?.controls; let i=index' [formGroupName]="i">
        <th>
          {{pt.value.MarketName }}
        </th>
        <td class='netdays-cell'>
          <app-cell [editMode]='editMode' [group]='pt' [controlName]='"NetDays"' 
            [controlType]='controlTypeEnum.Textbox'></app-cell>
        </td>
        <td class='cashdiscount-cell'>
          <app-cell [editMode]='editMode' [group]='pt' [controlName]='"CashDiscount"' 
            [controlType]='controlTypeEnum.Textbox'></app-cell>
        </td>
        <td>
          <app-textbox [editMode]='editMode' [group]='pt' [controlName]='"Comment"'></app-textbox>
        </td>
      </tr>
    </tbody>
  </table>
</div>