<table class="filter-table" [formGroup]='filterForm'>
  <thead>
    <tr class="filter-header">
      <th>
        Site type
      </th>
      <th>
        Date
      </th>
      <th>Results per page</th>
    </tr>
  </thead>
  <tbody>
    <tr class="filter-row">
      <td class='column__filter_item__addrestype'>
        <app-typeahead [editMode]='true' [group]='filterForm' [controlName]='"AddressTypes"' [items]='typeItems' [multiple]='true'></app-typeahead>
      </td>
      <td class='column__filter_item__datepicker'>
        <app-datepicker [editMode]='true' [formControlName]='"WaitingForApprovalSince"' ></app-datepicker>
      </td>
      <td class='column__filter_item__page_size'>
        <app-dropdown
          [options]='pageSizeOptions' 
          [editMode]='true' 
          [group]='filterForm'
          [includeEmpty]='false'
          [namePropName]='"Name"' 
          [valuePropName]='"Value"'
          [controlName]='"PageSize"'></app-dropdown> 
      </td>
    </tr>
  </tbody>
</table>