<div *ngFor="let message of messages" >
  <div class="{{ cssClass(message) }} alert alert-dismissible">
    <span [innerHTML]="message.text"></span>
    <a class="close" (click)="removeAlert(message)"><span>&times;</span></a>
  </div>
</div>