@import 'styling/variables.scss';

.alert {
    position: relative;
    margin-bottom: $padding;
    
    padding: $padding * 3;
    padding-right: $padding * 6;
}
.alert-danger {
    background-color: $alert-bg-color;
    color: $alert-color;
}
.alert-success {
    background-color: $success-bg-color;
    color: $success-color;
}
.alert-info {
    color: $info-color;
    background-color: $info-bg-color;
}
.alert-dismissible .close {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    padding:  $padding   $padding * 2;
}
// .alert-dismissible .close:hover {
//     background-color: $alert-bg-color-hover;
// }