<ng-container *ngIf="editMode">
        <!-- (keyup)='onKeyUp($event)'  -->
    <div [formGroup]='group'>
        <input type="{{getTypeByTextboxType()}}" class='inputContent' [required]='required'
        [formControlName]="controlName">
    </div>
</ng-container>
<ng-container *ngIf="!editMode">
    <div class="readonly-field-value">
        {{ getFieldValue() }}
    </div>
</ng-container>