.ng-modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}
.ng-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.ng-modal-dialog {
    z-index: 10000;
    position: relative;
    margin: 40px auto;
    max-width: 85%;
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
    -webkit-box-shadow: 4px 4px 80px #000;
    -moz-box-shadow: 4px 4px 80px #000;
    -ms-box-shadow: 4px 4px 80px #000;
    -o-box-shadow: 4px 4px 80px #000;
    padding: 10px;
}
.ng-modal-title {
    font-weight: bold;
    font-size: 150%;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: solid 1px #999;
}
.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    font-size: 200%;
    padding: 5px;
    display: inline-block;
}
.ng-modal-dialog-content {
    /* overflow: hidden; */
    overflow-x: auto;
    height: 100%;
}
.ng-modal-close-x {
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.buttonBar {
    padding: 10px 10px 10px 0px;
}
.buttonBar .buttons {
    margin-bottom: 15px;
}
.buttonBar .buttons button {
    margin-left: 0px;
}