<div [hidden]='!show'>
  <div class='ng-modal-overlay' (click)='hideModal()'></div>
  <div class='ng-modal' >
    <div class='ng-modal-dialog'  [ngStyle]="styleOptions">
      <span *ngIf='title && title.length'>{{title}}</span>
      <div class='ng-modal-dialog-content'>
          <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>