@import 'styling/variables.scss';

.helper-sign {
    background-color: #3da744;
    width: $padding *4;
    // display: block;
    height: $padding *4;
    text-align: center;
    border-radius: $padding;
    color: white;
    cursor: help;
    margin-left: $padding;
    // float: right;
    margin-right: $padding;
    padding: 2px 9px;
    position: relative;
}