<ng-container *ngIf="editMode">
  <div [formGroup]='group'>
    <select [formControlName]="controlName"
      [compareWith]="compareFn" [required]='required'>
      <option *ngIf='includeEmpty'></option>
      <option [value]="opt[valuePropName]" 
        *ngFor="let opt of options" >{{opt[namePropName]}}</option>
    </select>
  </div>
</ng-container>
<ng-container *ngIf="!editMode">
  <div class="readonly-field-value" >
    {{ currentReadonlyValue }}
  </div>
</ng-container>
