<form [formGroup]='filterForm'>
  <table class="filter-table">
    <thead>
      <tr class="filter-header">
        <th>
          Supplier name
        </th>
        <th>
          VAT number
        </th>
        <th>
          Status
        </th>
        <th>Results per page</th>
      </tr>
    </thead>
    <tbody>
      <tr class="filter-row">
        <td class='column__filter_item'>
          <app-textbox [editMode]='true' [group]='filterForm' [controlName]='"SupplierName"'></app-textbox>
        </td>
        <td class='column__filter_item'>
          <app-textbox [editMode]='true' [group]='filterForm' [controlName]='"VAT"'></app-textbox>
        </td>
        <td class='column__filter_item__status'>
          <app-typeahead [editMode]='true' [group]='filterForm' [controlName]='"Statuses"' [items]='statusItems'
            [multiple]='true'></app-typeahead>
        </td>
        <td class='column__filter_item__page_size'>
          <app-dropdown [options]='pageSizeOptions' [editMode]='true' [group]='filterForm' [includeEmpty]='false'
            [namePropName]='"Name"' [valuePropName]='"Value"' [controlName]='"PageSize"'></app-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</form>
