<form [formGroup]="docListForm">
  <div *ngIf='allowToSign'>
    <app-sign-document-bar [countOfSelectedDocuments]='countOfSelectedDocuments'
      (onSignDocumentsClick)='signDocuments()'></app-sign-document-bar>
  </div>
  <app-loader-blocker [loading]='loading'>

    <table class="fvgrid" formArrayName="Documents">
      <tr class="fixedHeader">
        <th *ngIf='allowToSign'></th>
        <th>Document name</th>
        <th>Status</th>
        <th>Signed by</th>
        <th>Date of signing</th>
      </tr>
      <ng-container *ngIf='docs?.controls.length > 0'>
        <tr *ngFor='let doc of docs?.controls; let i=index' [formGroupName]="i">
          <td class='checkbox-column' *ngIf='allowToSign'>
            <app-checkbox [group]='doc' [controlName]='"Selected"'
              [editMode]='doc.value.Status == 0'></app-checkbox>
          <td>
            <a href="{{doc.value.Url}}">
              {{ doc.value.Name }}
            </a>
          </td>
          <td>
            {{ getStatusText(doc.value.Status) }}
          </td>
          <td>
            {{ doc.value.ContactPersonName }}
          </td>
          <td>
            <app-cell [editMode]='false' [group]='doc' [controlName]='"SignDate"' 
              [showTime]='true'
              [controlType]='controlTypeEnum.Date'></app-cell>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf='docs?.controls.length == 0'>
        <tr *ngIf='!loading'>
          <td [attr.colspan]="allowToSign ? '5' : '4'">
            There are no available documents
          </td>
        </tr>
      </ng-container>
    </table>
  </app-loader-blocker>
</form>
