<ng-container *ngIf="!editMode">
  <div class="readonly-field-value">
    <span tooltip='{{value | amTimeAgo}}' [display]='value?true:false'>
      <ng-container *ngIf='showTime'>
        {{ value | amDateFormat: 'DD.MM.YYYY HH:mm'}}
      </ng-container>
      <ng-container *ngIf='!showTime'>
        {{ value | amDateFormat: 'DD.MM.YYYY'}}
      </ng-container>
    </span>
  </div>
</ng-container>
<div [formGroup]='fieldForm' class="container" *ngIf="editMode">
  <my-date-picker name="mydate" [options]="myDatePickerOptions" [formControlName]="'field'"></my-date-picker>
</div>