<app-site-button-bar [editMode]='editMode' [hideRemove]='isNew || !isTradingUser'
  [hideDisable]='isNew || isTradingUser || hasDisabledStatus' (onEditClicked)='goToEdit()'
  (onCancelClicked)='goToView()' (onSaveClicked)='save()' (onRemoveClicked)='remove()' (onDisableClicked)='disable()'
  [disabledRemove]='disableRemove' [disabledRemoveTooltip]='removeTooltipText' [formIsValid]='supplierSiteForm.valid'>
</app-site-button-bar>
<app-loader-blocker [loading]='loading'>
  <form [formGroup]='supplierSiteForm' (ngSubmit)="save()">
    <div class='site-details'>
      <app-section-header [headerText]='"Site details"' [showVersion]='true'></app-section-header>
      <div class="site-information">
        <div>
          <app-two-column-row *ngIf="isTradingUser" [headerText]='"Supplier ID"' [group]='supplierSiteForm'
            [editMode]='false' [controlName]='"CompanyId"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Site name"' [group]='supplierSiteForm' [editMode]='editMode'
            [controlName]='"Name"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Address"' [group]='supplierSiteForm' [editMode]='editMode'
            [controlName]='"AddressLine1Text"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"PostBox"' [group]='supplierSiteForm' [editMode]='editMode'
            [controlName]='"PostBoxTerm"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"ZipCode"' [group]='supplierSiteForm' [editMode]='editMode'
            [showBigRequiredSign]='true' [attentionText]='messageFillZipCode' [controlName]='"ZipCodeTerm"'
            [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"City"' [group]='supplierSiteForm' [editMode]='editMode'
            [controlName]='"CityName"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Country"' [group]='supplierSiteForm' [ddlOptions]='countries'
            [namePropName]='"Name"' [valuePropName]='"IsoCode"' [editMode]='editMode' [controlName]='"CountryIsoCode"'
            [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Phone number"' [group]='supplierSiteForm' [editMode]='editMode'
            [controlName]='"PhoneNumberText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Mobile number"' [group]='supplierSiteForm' [editMode]='editMode'
            [controlName]='"MobileNumberText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Fax number"' [group]='supplierSiteForm' [editMode]='editMode'
            [controlName]='"FaxNumberText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Authority Approval no."' [group]='supplierSiteForm' [editMode]='editMode'
            [tooltipText]='authorityApprovalTooltip' [controlName]='"AuthorityApprovalNumber"'
            [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Last modified date"' [group]='supplierSiteForm' [editMode]='false'
            [controlName]='"ModifiedDate"' [controlType]='controlTypeEnum.Date'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Last modified by"' [group]='supplierSiteForm' [editMode]='false'
            [controlName]='"ModifiedByText"' [controlType]='controlTypeEnum.Textbox'>
          </app-two-column-row>
        </div>
        <div>
          <app-two-column-row *ngIf="isTradingUser" [headerText]='"Status"' [group]='supplierSiteForm'
            [ddlOptions]='addressStatuses' [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode'
            [controlName]='"AddressStatusId"' [controlType]='controlTypeEnum.Dropdown'>
          </app-two-column-row>
          <app-two-column-row [headerText]='"Site types"' [group]='supplierSiteForm' [controlName]='"AddressTypes"'
            [namePropName]='"Name"' [valuePropName]='"Id"' [editMode]='editMode' [ddlOptions]='addressTypes'
            [controlType]='controlTypeEnum.CheckboxMulti'>
          </app-two-column-row>
          <app-two-column-row *ngIf="isPickupSite" [headerText]='"Country-Port"' [group]='supplierSiteForm'
            [ddlOptions]='countryPorts' [tooltipText]='countryPortTooltip' [editMode]='editMode'
            [controlName]='"CountryPortId"' [controlType]='controlTypeEnum.Autocomplete'
            (onSearch)="onSearchCountryPorts($event)">
          </app-two-column-row>
          <app-two-column-row [headerText]='"Description"' [group]='supplierSiteForm' [editMode]='editMode'
            [controlName]='"Description"' [controlType]='controlTypeEnum.Textarea'>
          </app-two-column-row>
        </div>
      </div>
    </div>
  </form>
</app-loader-blocker>
<app-site-button-bar [editMode]='editMode' [hideRemove]='isNew || !isTradingUser'
  [hideDisable]='isNew || isTradingUser || hasDisabledStatus' (onEditClicked)='goToEdit()'
  (onCancelClicked)='goToView()' (onSaveClicked)='save()' (onRemoveClicked)='remove()' (onDisableClicked)='disable()'
  [disabledRemoveTooltip]='removeTooltipText' [disabledRemove]='disableRemove' [formIsValid]='supplierSiteForm.valid'>
</app-site-button-bar>
