<table class="filter-table">
  <thead>
    <tr class="filter-header">
      <th>
        Show only active sites
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="filter-row">
      <td>
        <label>
          <input type='checkbox' (change)='onChange()' [(ngModel)]='filter.ShowActiveOnly'> Yes
        </label>
      </td>
      <td class='page-size-column'>
        Results per page
        <select (change)='onChange()' [(ngModel)]='filter.PageSize'>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>