<div class="selected-supplier" *ngIf='isTradingUser && selectedSupplierName'>
  Selected supplier: <br><b>{{selectedSupplierName}}</b>
</div>
<ul class='navigation'>
  <li *ngFor='let navItem of navigation'>
    <ng-container *ngIf='navItem.IsSeparator'>
      <div class='separator'></div>
    </ng-container>
    <ng-container *ngIf='!navItem.IsSeparator'>
      <a class='navigation__item' routerLink="{{navItem.Path}}" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class=''>
          {{navItem.Name}}
        </div>
      </a>
      <div class='navigation__sub'>
        <ul>
          <li *ngFor='let sub of navItem.Children'>
            <a class='navigation__item' routerLink="{{sub.Path}}" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
              <div class=''>
                {{sub.Name}}
              </div>
            </a>
            <div class='navigation__sub__sub'>
              <ul>
                <li *ngFor='let subsub of sub.Children'>
                  <a class='navigation__item' routerLink="{{subsub.Path}}" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <div class=''>
                      {{subsub.Name}}
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </ng-container>
  </li>
</ul>
