@import 'styling/variables.scss';
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navigation a{
    text-decoration: none;
}
.navigation__item div{
    padding: $padding * 2;
}
.navigation__item.active div{
    color: $light-color;
    background-color: $primary-bg-color;
}
.navigation__sub .navigation__item div{
    padding-left: $padding * 6;
}
.navigation__sub__sub .navigation__item div{
    padding-left: $padding * 10;
}
.separator{
    border-bottom: 1px solid $light-border-color;
    margin: $padding * 2 0;
}

.selected-supplier {
    padding: $padding * 2;
    color: $warning-color;
    background-color: $warning-bg-color;
}