@import 'styling/variables.scss';

.ng-select {
  border-radius: 0;
}

.ng-select .ng-select-container  {            
  border-radius: 0;
  min-height: $field-height;
}
.ng-select.ng-select-single .ng-select-container {
  height: $field-height;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  top: $padding;
  padding-left: $padding;
}
.ng-select .ng-input input[type='text'] {
  padding: 0;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #e4e4e4;
  /* border: 1px solid #aaa; */
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover{
  background-color: #e4e4e4;
  color: #333;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
  border-right: 1px solid #aaa;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, 
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked{
  background-color: #ddd;
}