$primary-bg-color: #006680;
$light-bg-color: #f2f2f2;
$primary-color: #686868;
$light-color: #ffffff;
$disabled-color: #aaaaaa;
$light-border-color: #cecece;
$validation-alert-color: #ff0000;
$alert-color: #e04242;
$alert-bg-color: #f8d7da;
$alert-bg-color-hover: #fb5252;
$success-bg-color: #d4edda;
$success-color: #155724;
$warning-bg-color: #fff3cd;
$warning-color: #856404;

$info-color: #0c5460;
$info-bg-color: #d1ecf1;

$padding: 5px;
$line-height: 40px;

$field-height: 29px;