<div class="line" [ngClass]="{'line_wide': wide}">
  <div class="line__header">
    <div class='flex-justify'>
      <div>
        {{headerText}}
      </div>
      <div>
        <app-tooltip [text]='tooltipText' *ngIf='tooltipText'></app-tooltip>
        <div class='attention-mark' [ngClass]='{"make-padding-top" : (tooltipText ? false : true)}'>
          <app-attention-mark [field]='field' [tooltipText]='attentionText'></app-attention-mark>
        </div>
      </div>
    </div>
    <ng-container *ngIf='field && editMode'>
      <app-validation [field]='field'></app-validation>
    </ng-container>
  </div>
  <div class="line__content" [ngSwitch]='controlType' [formGroup]='group'>
    <app-textbox *ngSwitchCase='controlTypeEnum.Textbox' [editMode]='editMode' [group]='group' [type]='type'
      [controlName]='controlName' [required]='required'>
    </app-textbox>

    <app-checkbox *ngSwitchCase='controlTypeEnum.Checkbox' [editMode]='editMode' [group]='group'
      [controlName]='controlName' [required]='required'>
    </app-checkbox>

    <app-dropdown *ngSwitchCase='controlTypeEnum.Dropdown' [options]='ddlOptions' [editMode]='editMode' [group]='group'
      [controlName]='controlName' [namePropName]='namePropName' [valuePropName]='valuePropName' [required]='required'>
    </app-dropdown>

    <app-yes-or-no-radio *ngSwitchCase='controlTypeEnum.YesOrNoRadio' [editMode]='editMode' [group]='group'
      [controlName]='controlName'>
    </app-yes-or-no-radio>

    <app-maincontacts *ngSwitchCase='controlTypeEnum.MainContacts' [editMode]='editMode' [group]='group'
      [controlName]='controlName'>
    </app-maincontacts>

    <app-checkbox-multi *ngSwitchCase='controlTypeEnum.CheckboxMulti' [editMode]='editMode' [options]='ddlOptions'
      [group]='group' [controlName]='controlName' [namePropName]='namePropName' [valuePropName]='valuePropName'>
    </app-checkbox-multi>

    <app-textarea *ngSwitchCase='controlTypeEnum.Textarea' [editMode]='editMode' [group]='group'
      [controlName]='controlName' [required]='required'>
    </app-textarea>

    <app-datepicker *ngSwitchCase='controlTypeEnum.Date' [editMode]='editMode' [showTime]='showTime'
      [formControlName]="controlName">
    </app-datepicker>

    <app-typeahead *ngSwitchCase='controlTypeEnum.Autocomplete' [editMode]='editMode' [items]='ddlOptions'
      [group]='group' [controlName]='controlName' (onSearch)='searchItems($event)'>
    </app-typeahead>
  </div>
</div>
