@import 'styling/variables.scss';

.line{
    // width: 400px;
    width: 450px;
    border: 1px solid $light-border-color;
    // line-height: $line-height;
    min-height: $line-height;
    margin-top: -1px;
    margin-left: -1px;
    display: flex;
}
.line_wide{
    width: 100%;
}
.line__header{
    // width: 190px;
    width: 215px;
    padding: $padding*2 $padding;
}
.line__content {
    width: 215px;
    padding: $padding $padding $padding;
    // padding: $padding*2  $padding $padding $padding;
}
.line__header{
    background-color: $light-bg-color;
    font-weight: bold;
    border-right: 1px solid $light-border-color;
    // display: flex;
    // justify-content: space-between;
}
.line__content{
    word-break: break-word;
}
.line_wide .line__content{
    width:666px; 
}
.attention-mark{
    padding-left: 2px;
}
.make-padding-top{
    margin-top: -$padding;
}